section.contato{
	margin-top: 50px;
}
section.contato .first{
	width: calc(50% - 15px);
	margin-right: 30px;
	float: left;
}
section.contato .second{
	width: calc(50% - 15px);
	float: left;
}
section.contato .form_grup{
	width: 100%;
	margin-bottom: 15px;
}
section.contato .form_grup input,
section.contato .form_grup textarea,
section.contato .form_grup button{
	width: calc(95% - 20px);
	margin: 0 auto;
	line-height: 40px;
	border: solid 1px #d5dce2;
	border-radius: 3px;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	font-family: inherit;
}
section.contato .form_grup label{
	color:#2c3d4d;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
}
section.contato .form_grup button.submit_contato{
	width: 190px;
	color:#fff;
	font-size: 16px;
	font-weight: 600;
	font-family: inherit;
	background: var(--color1);
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}