
section.depoimentos{
    background: url(../images/bg_depoimentos.png) center;
    background-size: cover;
    padding-top:100px;
    text-align: center;
}
section.depoimentos .item{
    max-width:800px;
    width: 100%;
    margin: 0 auto;
}
section.depoimentos .image_photo{
    width:80px;
    height:80px;
    border: solid 2px #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom:30px;
}
section.depoimentos .image_photo img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin:10px;
    background:#fff;
    border:none;
    outline:0;
}
section.depoimentos p.depoimento_text{
    font-size: 19px;
    font-weight:300;
    color:#fff;
    opacity: 0.9;
}
section.depoimentos .name{
    color:#fff;
    font-size: 23px;
    margin-top: 50px;
}
section.depoimentos .company{
    color:#fff;
    font-size:13px;
    margin-top:5px;
}
section.depoimentos .owl-pagination{
    margin: 0 auto;
    display:table;
    margin-top:70px;
    margin-bottom:50px;
}
section.depoimentos .owl-pagination .owl-page{
    width:10px;
    height:10px;
    background:#fff;
    border-radius:50%;
    float:left;
    margin-left:10px;
    border: solid 2px transparent;
    transition: all 0.3s;
}
section.depoimentos .owl-pagination .owl-page.active{
    background:none;
    border: solid 2px #fff;
    transition: all 0.3s;
}
section.depoimentos #owl-demo{
    width:1000px;
    margin: 0 auto;
    -webkit-mask-box-image:-webkit-linear-gradient(left,transparent, black 20%, black 80%, transparent);
}