section.home_1{
    background:#000 url(../images/top_bg.jpg);
    background-size:cover;
    transition: all 1s;
    color:#fff;
    height:500px;
    box-shadow:2px 2px 5px  rgba(0,0,0,0.1);
}
section.home_1 .in{
    width: 95%;
    max-width: 800px;
    position: relative;
}
section.home_1 .first{
    margin: 0 auto;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    width:70%;
}
section.home_1 .image{
    width:30%;
    display: table-cell;
    height:400px;
}
section.home_1 .image img{
    width:220%;
    margin-left: -10%;
    margin-bottom:-50px;
    margin-top:30px;
}
section.home_1 h1{
    font-size: 40px;
    font-weight: 600;
    text-transform:uppercase;
    color:#fff;
}
section.home_1 h2{
    color:var(--color1);
    font-size: 25px;
    text-transform:uppercase;
    font-weight:900;
}
section.home_1 .list{
    margin-top: 15px;
}
section.home_1 .list li{
    line-height: 40px;
    padding-left: 20px;
}
section.home_1 .list li::before{
    content:" ";
    font-family:FontAwesome;
    font-weight:100;
    display:inline-block;
    border: solid 1px rgba(255,255,255,0.5);
    line-height:20px;
    width:20px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    font-si
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-size: 10px;
    margin-bottom:4px;
    position:absolute;
    margin-left: -30px;
    margin-top:10px;
}
section.home_1:before{
    display:inline-block;
    width:100%;
    height:500px;
    background:radial-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.6));
    content:" ";
    position:absolute;
}
section.home_1 input[type='text']{
    margin:0;
    padding:0;
    border:none;
    width:calc(60% - 1px);
    display:block;
    float:left;
    height:40px;
    outline:none;
    border-radius: 3px 0px 0px 3px;
    border: solid 1px rgba(0,0,0,0.2);
    border-right: none;
}
section.home_1 button.submit_start{
    display:block;
    border: none;
    padding: 0;
    margin:0;
    width:40%;
    font-family:inherit;
    font-size: 12px;
    font-weight:800;
    color:#fff;
    float: left;
    background:#2c3e50;
    line-height:42px;
    outline:none;
    border-radius:0px 3px 3px 0px;
}
section.home_1 .form_start{
    margin-top:30px;
    border-radius: 5px;
    box-shadow:2px 2px 5px  rgba(0,0,0,0.1);
    display:table;
    width:100%
}
section.collumns{
    background:#efefef;
    padding-top: 60px;
    display:table;
    width:100%;
    box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.1);
}
section.collumns .col{
    float:left;
    width:calc((100% / 3) - 20px);
    padding:10px;
    height:200px;
    position:relative;
}
section.collumns .col.second{
    background:rgba(0,0,0,0.1);
    padding-top:70px;
    margin-top:-60px;
}
section.collumns .col.second p{
    top: 90px;
}
section.collumns .col h3{
    font-size: 20px;
    color:#2c3e50;
    width:70%;
    left:32%;
    text-transform: uppercase;
    font-weight:800;
    position:absolute;
    z-index:999;
}
section.collumns .col p{
    width:70%;
    left:32%;
    position:absolute;
    color:#747474;
    top:30px;
    line-height:25px;
    padding-bottom:40px;
    font-weight:400;
    text-shadow: 0px 0px 2px #efefef;
    z-index:99;

}
section.collumns .col.first:before{
    content:"";
}
section.collumns .col.second:before{
    content:"";
}
section.collumns .col.third:before{
    content:"";
}
section.collumns .col:before{
    content:"";
    font-family:FontAwesome;
    font-size: 170px;
    position:absolute;
    opacity: 0.1;
}
section.home_3{
    width:100%;
}
section.home_3 .in{
    max-width:900px;
    width:100%;
    padding-top:100px;
    padding-bottom:100px;
}
section.home_3 .in > div{
    width:50%;
    float:left;
    display:inline-block;
}
section.home_3 .in .first img{
    width:100%;
    display:table-cell;
    vertical-align: middle;
}
section.home_3 h2{
    font-size: 28px;
    font-weight:900;
    text-transform:uppercase;
    color:#2c3e50;
}
c1{
    color: var(--color1);
}
section.home_3 p{
    color:#949494;
    margin-top:20px;
    line-height:20px;
    margin-bottom:20px;
}
section.home_3 .list li{
    line-height:25px;
    margin-left: 30px;
    color:#949494;
}
section.home_3 .list li::before{
    content:" ";
    font-family:FontAwesome;
    font-weight:100;
    display:inline-block;
    border: solid 1px rgba(0,0,0,0.5);
    line-height:16px;
    width:16px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px
    font-si
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-size: 10px;
    margin-bottom:4px;
    position:absolute;
    margin-left: -25px;
    margin-top:4px;
    color:#949494;
}