.top_precos{
	background: #16151a;
	color:#fff;
}
.top_precos .first{
	width: 45%;
	float: left;
	display: table;
	position: relative;
}
.top_precos .first img.image{
	width: 100%;
	vertical-align: middle;
	display: table-cell;
}
.top_precos .second{
	width: calc(55% - 60px);
	margin-left: 60px;
	float: left;
	height: 200px;
}
.top_precos .second .second_in{
	transform: translateY(-55%);
	margin-top: 50%;
}
.top_precos h3{
	font-size: 25px;
}
.top_precos h1{
	font-size: 55px;
	font-weight: 300;
}
.top_precos b{
	font-weight: bold;
}
.top_precos ul.list{
	list-style:none;
	margin-top: 30px;
}
.top_precos ul.list li{
	line-height: 40px;
}
.top_precos ul.list li::before{
	content:"";
	font-family: FontAwesome;
	line-height: 40x;
	margin-right: 10px;
}
.top_precos button.button{
	background: var(--color1);
	font-family: inherit;
	font-size: 18px;
	font-weight: 400;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	border-bottom: solid 2px rgba(255,255,255,0.2);
	color: #fff;
	line-height: 50px;
	border-radius: 3px;
	margin-top: 30px;
}
.precos > h1.title{
	font-size: 30px;
	font-weight: 300;
	color: #666;
	margin-top: 40px;
}
.precos table{
	width: 100%;
	margin-top: 40px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 100px;
}
.precos table tr {
	background: #ecf0f1;
}
.precos table tr:nth-child(even) td:first-of-type{
	background: #f6f6f6;
}
.precos table tr:nth-child(odd) {
	background: #eaebed
}
.precos table tr.header td:not(.title_in_table){
	background: #34495e;
	color:#fff;
}
.precos table .title_in_table{
	font-size: 21px;
	font-weight: 600;
	color: #95a2aa;
}
.precos table .title_plain{
	width: 100%;
	line-height: 50px;
	border-bottom: solid 1px rgba(255,255,255,0.2);
	font-size: 23px;
}
.precos table .preco{
	font-size: 50px;
	font-weight: 300;
	line-height: 70px;
}
.precos table .preco_time{
	height: 29px;
	line-height: 16px;
}
.preco table .header{
	height: 150px;
}
.precos .destaque{
	transform: scale(1.1) translateY(-6.6px);
	box-shadow: -2px 0px 0px 0px #fff, 2px 0px 0px #fff;
}
.precos .red{
	color:#f00;
}
.precos .green{
	color:#8bc34a;
}
.precos .ic{
	font-size: 20px;
	line-height: 40px;
	font-weight: 100;
}
.precos .button_table{
	line-height: 50px;
}
.precos .button_table button{
	line-height: 30px;
	background: var(--color1);
	color: #fff;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	width: 100px;
	font-family: inherit;
	border-radius: 3px;
}