@import url('http://fontawesome.io/assets/font-awesome/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
body{
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	margin: 0;
}
ic, .ic{
	font-family: FontAwesome;
}
:root{
	--color1:#4d3586;
}
.in{
	width: 95%;
	margin: 0 auto;
	display: table;
}
.bar-top{
	background: #222533;
	line-height: 40px;
	max-height: 40px;
	height: 40px;
	box-shadow: 0px -10px 10px 10px rgba(0,0,0,0.5);
}
.bar-top .redes{
	color: #a1b1bc;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
	padding:0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
	color: inherit;
}
.bar-top .redes li{
	float: left;
	width: 35px;
	font-size: 14px;
}
.bar-top .text-email{
	float: right;
	line-height: 40px;
	color: #a1b1bc;
}
.bar-top .text-email:hover{
	text-decoration: underline;
}
.menu-top{
	background: var(--color1);
	color:#ecf0f1;
	height:80px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	text-transform:uppercase;
	font-weight: 700;
}
.menu-top .in{
	position: relative;
}
.menu-top .logo{
	height:70px;
	position:absolute;
	top: 5px;
}
.menu-top .button-login{
	height:80px;
	right: 0;
	position:absolute;
	line-height:80px;
	top:0;
}
.menu-top .menu{
	right: 0;
	left: 0;
	margin: 0 auto;
	display:table;
	display:inline-block
	height:80px;
}
.menu-top .menu li{
    display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	line-height:80px;
	position:relative;
}
.menu-top .menu li::before{
	background:#fff;
	display:inline-block;
	height:10px;
	width:0%;
	content:"";
	position:absolute;
	transition: all 0.5s cubic-bezier(0.13, -0.06, 0, 1.01);
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0.5;
}
.menu-top .menu li.active::before, .menu-top .menu li:hover::before{
	width: 100%;
	opacity: 1;
}
.footer{
	background: #1a1c27;
	color:#fff;
	padding-top: 80px;
	box-shadow: -1px 5px 15px 10px rgba(0,0,0,0.2);
}
.footer .collumn{
	width:calc((100% / 3) - 40px);
	display:inline-table;
	min-height:250px;
	margin: 20px;
}
.footer .logo-foot{
	height:60px;
	margin-bottom: 10px;
	max-width: 300px;
}
.footer .col-content{
	line-height:25px;
	color:#a1b1bc;
}
.footer .collumn > h3{
	font-size: 19.3px;
	text-transform:uppercase;
	font-weight: 600;
}
.footer .collumn > .col-list{
	line-height: 40px;
	margin-top:30px;
	color:#a1b1bc;
}
.footer a{
	text-decoration:underline
}
.footer .col-content.form-newletter{
	margin-top:40px;
}
.footer .form-newletter input[type='text']{
	background:#2d323f;
	border: solid #434956 1px;
	height:40px;
	padding-left: 20px;
	width:calc(100% - 22px);
	font-family:inherit;
	color:#fff;
	outline:none;
	border-radius: 4px;
}
.footer .button-submit-email{
	background: #3341d8;
	color:#fff;
	font-family:inherit;
	line-height:40px;
	border: solid 1px rgba(0,0,0,0.2);
	border-radius:5px;
	margin-top:30px;
	width:100%;
	font-size: 16px;
	font-weight:600;
}
.footer .redes{
	font-family: FontAwesome;
	float:right;
	margin-right:10px;
}
.footer .redes a{
	text-decoration:none;
}
.footer .redes li{
	float:left;
	height:25px;
	width:25px;
	line-height:25px;
	text-align: center;
	background: rgba(0,0,0,0.3);
	border: solid 1px #434956;
	margin: 19px;
	margin-left:5px;
	margin-right:5px;
	font-size: 14px;
}
.footer .foot{
    width:100%;
    background: #222533;
    border-top: solid 1px #2d323f;
    box-shadow: -0px -10px 10px rgba(0,0,0,0.03);
    display:table;
}
.footer .foot .foot_text{
    line-height:70px;
    margin-left:10px;
    float:left;
}
.footer .foot a.author{
    color:#56708b;
}
color1{
	color: var(--color1);
}