@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('http://fontawesome.io/assets/font-awesome/css/font-awesome.css');

:root {
  --cor1: #464E53;
  --cor2: #98CE16;
}
body{
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  margin:0;
}
.box-login{
  width: 300px;
  background:var(--cor1);
  height: 200px;
  transform: all 1.3s;
  position: absolute;
  top: calc((100% - 200px)/2);
  left: calc((100% - 300px)/2);
  border-radius:3px;
  border:solid 2px rgba(0,0,0,0.5);
  box-shadow:2px 2px 5px rgba(0,0,0,0.2);
  color:#fff; 
}
.header{
  text-align: center;
  line-height: 30px;
  padding-top: 2px;
  border-bottom: solid 2px rgba(0,0,0,0.1);
}
.input-icon{
  font-family:FontAwesome;
  position:absolute;
  color:#ccc;
  line-height:36px;
  width:30px;
  text-align: center;
  margin-top: 13px;
}
.box-login form{
  width:80%;
  margin: 0 auto;
}
.box-login input{
  width:calc(100% - 30px);
  font-family:inherit;
  border: solid 1px rgba(0,0,0,0.2);
  line-height:30px;
  padding-left: 30px;
  margin-top: 15px;
  outline:none;
}
.box-login button{
  background: var(--cor2);
  border: solid 2px rgba(0,0,0,0.2);
  line-height:30px;
  width:80%;
  font-family:inherit;
  text-transform:uppercase;
  color:#fff;
  font-size: 17px;
  font-weight: 100;
  margin-top:13px;
  margin-left: 9.8%;
  cursor:pointer;
  transition: all 0.;
  outline:none;
}
.box-login button:hover{
  transform:scale(0.95);
  filter: sepia(50%);
  opacity: 0.8;
  transition: all 0.5s;
}
.box-login button:active{
  transform:scale(10);
}
.footer{
  width:100%;
  text-align: center;
  color: #555;
  border-top: solid 1px rgba(0,0,0,0.1);
  line-height:20px;
  bottom:0;
  position:fixed;
  background:rgba(255,255,255,0.7);
  box-shadow:0px -5px 5px rgba(0,0,0,0.05);
}
.footer a{
  color:inherit;
  text-decoration:none;
}